/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}
body{background-color:  #CAEBF2;}

a {
  color: #FF3B3F;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  overflow: hidden;
  background-color: #777777;
  font-family: sans;
  font-size: 30px;
  padding: 9px 20px;
  display: flex;
 justify-content: space-around;

}


#newsInfo {color: #00baaa;
  text-align: left;
  font-family: "Merriweather", serif;
  font-size: 30px;}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f7f7f7;
}
h1 {
  font-family: "Birch Std";
  font-size: 100px; color: #FF3B3F; text-align: center;
}
marquee{
  font-family: "Merriweather", serif;
font-size: 40px;
  color:  #777777;}
#dates{
  color: #00baaa;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 30px;
}
simba{width: 100%;
  height: auto;}
#facebook{font-family: "Merriweather", serif;
  font-size: 40px;
  color:  #777777;
    text-align: center;
}
#about{color: #00baaa;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 30px;
  border-style: dotted;
  border-color: #777777;
}
#activitiesList{ font-family: "Merriweather", serif;
  font-size: 30px;
  color:  #777777;

}

#contact{font-family: "Merriweather", serif;
  font-size: 30px;
  color:  #777777;
text-align: center;
  border-style: dotted;
  border-color:#FF3B3F;
  border-width: 7px;
}
#Qs{color: #00baaa;
  font-family: "Merriweather", serif;
  font-size: 30px;}
  #demo{
    color: #FF3B3F;
  font-family: "Merriweather", serif;
  font-size: 30px;
  text-align: center;
  }
  
